@section Breadcrumbs{
    <div class="div-section">
        <span>Shipment</span>
    </div>
}

<p>You can't delete this shipment because it is currently in transaction</p>
<a asp-action="Index"><button>Back to Index</button></a>