@section Breadcrumbs{
    <div class="div-section">
        <span>Home</span>
    </div>
}

<div class="div-article">
    <p>Selamat datang di Troll Market.</p>
    <span>Ini adalah market place yang tidak pernah ada promosi dan diskon.</span>
    <span>Karena ini hanya assignment buat kalian, jadi buat apa ada diskon.</span>
</div>